.dropdown {
  margin: 10px 0;
  position: relative;
}

.dropdown.is-loading *:not(.fa) {
  opacity: 0.6;
}

.dropdown .dropdown-list,
.dropdown.is-loading .dropdown-list {
  display: none;
}

.dropdown.is-open .dropdown-list {
  display: block;
}

.dropdown > label + .dropdown-display {
  margin-top: 5px;
}

.dropdown + .dropdown {
  margin-top: 0;
}

.dropdown-display {
  /* Display & Box Model */
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;

  /* Position */
  position: relative;

  /* Other */
  background: #f7f7f9;
  border: 1px solid #cfcbca;
  border-radius: 0;
  text-align: left;
}

.dropdown-display:hover {
  background: #e7e7e9;
}

.dropdown-display:focus {
  outline: none;
}

.dropdown-display .fa {
  position: absolute;
  right: 15px;
}

.dropdown-list {
  /* Display & Box Model */
  width: 100%;
  max-height: 220px;
  margin-top: 5px;
  padding: 0;

  /* Position */
  position: absolute;
  top: 100%;
  left: 0;
  overflow: scroll;
  z-index: 100;

  /* Other */
  background: #f7f7f9;
  border: 1px solid #cfcbca;
  list-style: none;
}

.dropdown-list li {
  padding: 10px 15px;
  border-top: 1px solid #cfcbca;
}

.dropdown-list li:hover {
  background: #e7e7e9;
  cursor: pointer;
}

.dropdown-list li:first-of-type {
  border-top: 0;
}
