html,
body {
  height: 100%;
}

body {
  padding-top: 5%;
  background: url('https://images.unsplash.com/gifs/weird/weird-11.gif') no-repeat top left;
  background-size: cover;
}

.panel {
  background: transparent;
  border: none;
  color: white;
}
