html,
body {
  height: 100%;
}

body {
  position: relative;
}

/* Modals */
.login-form {
  padding: 50px 30px;
  box-shadow: 0 10px 20px #e4e4e4;
}

.login-form img {
  border-radius: 50%;
}

.modal {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -400%);
  transition: transform 300ms ease-in-out;
}

.modal.is-showing {
  transform: translate(-50%, -50%);
  z-index: 2
}

.modal-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0;
  transition: all 500ms ease-in-out;
  z-index: -300;
}

.modal-background.is-showing {
  opacity: 0.85;
  z-index: 1;
}

.active-voting ol li.is-set {
  opacity: .5;
}

/* Buttons */
[class*="btn"] .fa {
  display: none;
  margin-right: 5px;
}

[class*="btn"].is-loading .fa {
  display: inline-block;
}

[class*="btn"]:disabled,
[class*="btn"].is-loading {
  opacity: .5;
}

[class*="btn"]:hover {
  cursor: pointer;
}

.btn--primary.is-loading,
.btn--primary:focus:disabled,
.btn--primary:hover:disabled {
  background-color: #1f75ae;
  border-color: #13496d;
  cursor: default;
}

/* User Chip */
.user-chip {
  padding: 10px 15px;
  background: #f1f1f1;
}

.user-chip img {
  border-radius: 50%;
}

.user-chip.has-selection {
  position: relative;
  background: #7fbb7f;
  color: white;
}

.user-chip.has-selection::before,
.user-chip.has-selection::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
}

.user-chip.has-selection::before {
  width: 30px;
  height: 30px;
  background: #6a9a6a;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.user-chip.has-selection::after {
  width: 12px;
  height: 7px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  transform: translate(200%, -70%) rotate(-55deg);
}

/* User Selection */
.user-selection {
  height: 100px;
  padding: 15px;
  margin-top: 20px;
  border: 1px dashed #1f75ae;
  color: #1f75ae;
}

.user-selection.has-selection {
  position: relative;
  border: 1px solid #7fbb7f;
}

.user-selection.has-selection p {
  color: #7fbb7f;
}

.user-selection.has-selection::before,
.user-selection.has-selection::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}

.user-selection.has-selection::before {
  width: 30px;
  height: 30px;
  background: #7fbb7f;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.user-selection.has-selection::after {
  width: 12px;
  height: 7px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  transform: translate(50%, -70%) rotate(-55deg);
}

/* Vote Game List */
.active-voting {
  top: 40%;
}

.vote-game-list li {
  margin-top: 20px;
}

/* Remain Votes */
.remaining-votes li {
  display: inline-block;
  padding: 12px 15px;
  margin-left: 15px;
  margin-top: 5px;
  background: #d3d3d3;
  border-radius: 50%;
  line-height: 1em;
}

.remaining-votes li:first-of-type {
  margin-left: 0;
}

.remaining-votes li.is-used {
  background: #7fbb7f;
  color: white;
}
